@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Inter;
}

.all_wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  padding: 12px 5px 32px 5px;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.header_wrapper {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 22px 15px 18px;
}
.logo img {
  max-width: 130px;
  height: 38;
}
.ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ul li {
  text-align: center;
  list-style: none;
  margin-right: 28px;
}
.ul li:last-child {
  margin-right: 0;
}
.menu_a {
  text-decoration: none;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  transition: all 0.3s;
}
.menu_a:hover {
  transform: scale(1.1);
}
.search {
  position: relative;
}
.search input {
  max-width: 204px;
  height: 28px;
  box-shadow: none;
  border: 1px solid #ffffff;
  padding: 0 10px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
  background-color: #000000;
}
.white_loop {
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 5px;
}
.banner {
  background: url(./images/banner.png) lightgrey 50% / cover no-repeat;
  background-size: cover;
  background-color: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 83.5%);
  
}
.gradient_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 83.5%);
  padding-top: 474px;
}
h1 {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 28px;
}
p {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 52px;
}
.mouse {
margin-bottom: 36px;
}

.main_wrapper{
 max-width: 1385px;
 margin: 0 auto;
}
.parent {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 34px;
  grid-row-gap: 0px;
}
  
.div1 { 
  grid-area: 1 / 1 / 6/ 2;
  height: min-content;
}
.div2 { grid-area: 6 / 1 / 9 / 2; height: min-content;}
.div5 { grid-area: 5 / 2 / 9 / 4; height: min-content; }

.div1 img{
  max-width: 605px;
  margin-bottom: 8px;  
}
h2{
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000000;
  margin-bottom: 8px;
}
.new p{
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000000;
  margin-bottom: 24px;
  text-align: left;
  max-width: 605px;
}
.account_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  cursor: pointer;
}

.account_block:hover {
  transform: scale(0.95);
}

.account_block a {
  width: 107px;
  height: 107px;
  display: flex;
  border-radius: 107px;
  background: url(./images/avatar.png) lightgrey 50% / cover no-repeat; 
  margin-right: 12px; 
}
h3 {
  margin-bottom: 24px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
h3 span {
  font-size: 13px;
}
 
.div4 { 
  display: flex;
  justify-content: center; 
}


.div4 a {
  text-decoration: none;
  color: #FFF;
  width: 368px;
  height: 533px;
  background-color: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.card_new {
  width: 284px;
  height: 356px;
  background: url(./images/cardNew.png) lightgrey 50% / cover no-repeat;
}
.card_wrapper p {
  color: black;
}
.news_column_block {
  display: flex;
  justify-content: space-between;

}
.news_column_block a{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
.news_text_block{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-right: 16px;
}
.news_img img{
  width: 231px;
  height: 102px;
}
.news_text_block p {
  color: #000000;
  text-align: left;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.card_new {
  text-decoration: none;
  position: relative;  
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: height 0.3s ease;
  cursor: pointer;
}
.card_wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #27272760;  
  padding: 10px;
  box-sizing: border-box;
  transform: translateY(73%);
  
  transition: transform 0.3s ease;
}
.card_new h2 {
  margin: 0;
  z-index: 1;
  color: #FFF;
  margin-bottom: 24px;
}
.card_new:hover .card_wrapper {
  transform: translateY(0);
}
.card_wrapper p {
  margin: 0;
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.footer_wrapper{
  background-color: #000;  
  margin: 0 auto;
}
.footer{
  display: block;
  height: 32px;
}
.footer_wrapper h3{
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 8px 0;
  margin-bottom: 24px;
}
@media screen and (max-width: 1320px) {
  .parent {
    grid-template-columns: 2;
    grid-template-rows: auto;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
  }

  .div3 {
    grid-area: 1 / 2 / 2 / 3;
    columns: 2;
  }
  .div4 {
    grid-area: 2 / 2 / 4 / 3;
  }
  .div4 a {
    width: 100%;
    height: 400px;
    margin-bottom: 24px;
  }
  .div2 {
    grid-area: 4 / 1 / 5 / 3;
  }
  .div5 {
    width: 100%;
    grid-area: 5 / 1 / 6 / 3;
    columns: 2;
  }
  .card_new {
    width: 560px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1180px) {
  .parent {
    grid-template-columns: 2;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
  }
  .div1 {
    grid-area: 1 / 1 / 4 / 2;
    margin: 0 auto;
  }
  .div3 {
    grid-area: 1 / 2 / 3 / 3;
    columns: 1;
  }
  .div4 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .div4 a {
    width: 95%;
    height: 200px;
    margin-bottom: 24px;
  }
  .div2 {
    grid-area: 4 / 1 / 5 / 3;
  }
  .div5 {
    width: 100%;
    grid-area: 6 / 1 / 7 / 3;
    columns: 2;
  }
  .card_new {
    width: 45%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .header_wrapper {
    display: none;
  }
  .gradient_wrapper {
    padding: 25% 20px 0 20px;
  }
}
@media screen and (max-width: 900px) {
  .header_wrapper {
    padding: 16px 10px 15px 10px;  
  }
  .gradient_wrapper {
    padding-top: 25%;
  }
  h1 {
    font-size: 42px;
    margin-bottom: 24px;
  }
  p {
    font-size: 16px;
    margin-bottom: 36px;
  }  
  .div1 img {
    max-width: 100%;
    margin-bottom: 8px;
  }
  h2 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .new p {
    font-size: 12px;
    margin-bottom: 24px;
    max-width: 100%;
  }
  .account_block {
    margin-bottom: 24px;
  }
  .account_block a {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin-right: 8px;
  }
  h3 {
    font-size: 16px;
    margin-bottom: 16px;
  }
  h3 span {
    font-size: 12px;
  }
  .news_text_block {
    max-width: 100%;
    margin-right: 8px;
  }
  .card_wrapper {
    padding: 5px;
  }
  .card_new h2 {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .card_wrapper p {
    font-size: 12px;
    margin-bottom: 16px;
  }
  .footer_wrapper h3 {
    font-size: 12
  }
  .div5 {
    columns: 1;
  }
}

@media screen and (max-width: 768px) {
  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 4 / 1 / 6 / 2;
    align-items: center;
    flex-direction: column;
  }
  .card_new {
    width: 100%;
  }
  .div3 {
    grid-area: 2 / 1 / 3 / 2;
    columns: 2;
  }
  .div4 {
    grid-area: 3 / 1 / 4 / 2;

  }
  .div4 a{
    width: 100%;
    
  }
}
@media screen and (max-width: 468px) {
  .div3 {
    columns: 1;
  }
  .news_column_block a {
    flex-direction: column;
  }
  .news_text_block {
    max-width: 100%;
    padding: 2%;
  }
}
